name: hydrus-mainnet

services:
  hydrus:
    build:
      context: ../../
    image: hydrus/hydrus
    container_name: hydrus
    restart: on-failure:3
    command: scores nodes
    volumes:
      - ./hydrus.yml:/etc/hydrus/hydrus.yml
    volumes_from:
      - lnd:ro
    environment:
      HYDRUS_CONFIG: /etc/hydrus/hydrus.yml
    depends_on:
      lnd:
        condition: service_healthy

  lnd:
    build:
      context: lnd
      args:
        LND_VERSION: v0.20.0-beta
    image: hydrus/lnd-mainnet
    container_name: lnd
    restart: on-failure:3
    volumes:
      - ./volumes/lnd:/home/lnd/.lnd
    environment:
      AUTO_UNLOCK_PWD: ${AUTO_UNLOCK_PWD}
    ports:
      - 10009:10009
