[Unit]
Description=Hydrus timer
Documentation=https://github.com/aftermath2/hydrus/blob/master/README.md

[Timer]
OnCalendar=Sat *-*-* 20:00:00
Unit=hydrus.service
Persistent=false
RandomizedDelaySec=6h

[Install]
WantedBy=multi-user.target
